<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="marketTrends">
      <h2 data-cy="marketTrendsDetailsHeading"><span jhiTranslate="bitinfodashApp.marketTrends.detail.title">Market Trends</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ marketTrends.id }}</span>
        </dd>
        <dt><span jhiTranslate="bitinfodashApp.marketTrends.trendName">Trend Name</span></dt>
        <dd>
          <span>{{ marketTrends.trendName }}</span>
        </dd>
        <dt><span jhiTranslate="bitinfodashApp.marketTrends.indicatorValue">Indicator Value</span></dt>
        <dd>
          <span>{{ marketTrends.indicatorValue }}</span>
        </dd>
        <dt><span jhiTranslate="bitinfodashApp.marketTrends.timestamp">Timestamp</span></dt>
        <dd>
          <span>{{ marketTrends.timestamp | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="bitinfodashApp.marketTrends.trendType">Trend Type</span></dt>
        <dd>
          <span>{{ marketTrends.trendType }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/market-trends', marketTrends.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
