<footer class="footer bg-dark text-white p-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5><span jhiTranslate="footer.contact">Contact Us</span></h5>
        <p><span jhiTranslate="footer.email">Email</span>: comoni.tech@gmail.com</p>
        <p><span jhiTranslate="footer.phone">Phone</span>: (+221) 78-158-56-46</p>
      </div>
      <div class="col-md-6">
        <h5><span jhiTranslate="footer.follow">Follow Us</span></h5>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#" class="text-white"><span jhiTranslate="footer.twitter">Twitter</span></a></li>
          <li class="list-inline-item"><a href="#" class="text-white"><span jhiTranslate="footer.facebook">Facebook</span></a></li>
          <li class="list-inline-item"><a href="#" class="text-white"><span jhiTranslate="footer.linkedin">LinkedIn</span></a></li>
          <!-- Add more social media links as needed -->
        </ul>
      </div>
    </div>
    <hr class="my-4">
    <p><span jhiTranslate="footer.copyright">&copy;</span> <span jhiTranslate="footer.year">2023</span> BitInfoDash. <span jhiTranslate="footer.allRightsReserved">All rights reserved.</span></p>
  </div>
</footer>
