<div>
  <h2 id="page-heading" data-cy="BitcoinAddressHeading">
    <span jhiTranslate="bitinfodashApp.bitcoinAddress.home.title">BitcoinAddresses</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="bitinfodashApp.bitcoinAddress.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-bitcoin-address"
        [routerLink]="['/bitcoin-address/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="bitinfodashApp.bitcoinAddress.home.createLabel">Créer un nouveau Bitcoin Address</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="bitcoinAddresses?.length === 0">
    <span jhiTranslate="bitinfodashApp.bitcoinAddress.home.notFound">Aucun Bitcoin Address trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="bitcoinAddresses && bitcoinAddresses.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="address">
            <div class="d-flex">
              <span jhiTranslate="bitinfodashApp.bitcoinAddress.address">Address</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="balance">
            <div class="d-flex">
              <span jhiTranslate="bitinfodashApp.bitcoinAddress.balance">Balance</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="label">
            <div class="d-flex">
              <span jhiTranslate="bitinfodashApp.bitcoinAddress.label">Label</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bitcoinAddress of bitcoinAddresses; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/bitcoin-address', bitcoinAddress.id, 'view']">{{ bitcoinAddress.id }}</a>
          </td>
          <td>{{ bitcoinAddress.address }}</td>
          <td>{{ bitcoinAddress.balance }}</td>
          <td>{{ bitcoinAddress.label }}</td>
          <td class="text-end">
            <div class="btn-group">
              <a [routerLink]="['/bitcoin-address', bitcoinAddress.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </a>

              <a [routerLink]="['/bitcoin-address', bitcoinAddress.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </a>

              <button type="submit" (click)="delete(bitcoinAddress)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
