<div>
  <h2 id="page-heading" data-cy="TransactionsHeading">
    <span jhiTranslate="bitinfodashApp.transactions.home.title">Transactions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="bitinfodashApp.transactions.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-transactions"
        [routerLink]="['/transactions/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="bitinfodashApp.transactions.home.createLabel">Créer un nouveau Transactions</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="transactions?.length === 0">
    <span jhiTranslate="bitinfodashApp.transactions.home.notFound">Aucun Transactions trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="transactions && transactions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="amount">
            <div class="d-flex">
              <span jhiTranslate="bitinfodashApp.transactions.amount">Amount</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="transactionDate">
            <div class="d-flex">
              <span jhiTranslate="bitinfodashApp.transactions.transactionDate">Transaction Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="senderAddress">
            <div class="d-flex">
              <span jhiTranslate="bitinfodashApp.transactions.senderAddress">Sender Address</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="recipientAddress">
            <div class="d-flex">
              <span jhiTranslate="bitinfodashApp.transactions.recipientAddress">Recipient Address</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="bitcoinAddress.id">
            <div class="d-flex">
              <span jhiTranslate="bitinfodashApp.transactions.bitcoinAddress">Bitcoin Address</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transactions of transactions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/transactions', transactions.id, 'view']">{{ transactions.id }}</a>
          </td>
          <td>{{ transactions.amount }}</td>
          <td>{{ transactions.transactionDate | formatMediumDatetime }}</td>
          <td>{{ transactions.senderAddress }}</td>
          <td>{{ transactions.recipientAddress }}</td>
          <td>
            <div *ngIf="transactions.bitcoinAddress">
              <a [routerLink]="['/bitcoin-address', transactions.bitcoinAddress.id, 'view']">{{ transactions.bitcoinAddress.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <a [routerLink]="['/transactions', transactions.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </a>

              <a [routerLink]="['/transactions', transactions.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </a>

              <button type="submit" (click)="delete(transactions)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
