<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-ohlcvt-12-h-heading"
        data-cy="OHLCVT12hCreateUpdateHeading"
        jhiTranslate="bitinfodashApp.oHLCVT12h.home.createOrEditLabel"
      >
        Créer ou éditer un OHLCVT 12 H
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="bitinfodashApp.oHLCVT12h.timestamp" for="field_timestamp">Timestamp</label>
          <div class="d-flex">
            <input
              id="field_timestamp"
              data-cy="timestamp"
              type="datetime-local"
              class="form-control"
              name="timestamp"
              formControlName="timestamp"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="bitinfodashApp.oHLCVT12h.open" for="field_open">Open</label>
          <input type="number" class="form-control" name="open" id="field_open" data-cy="open" formControlName="open" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="bitinfodashApp.oHLCVT12h.high" for="field_high">High</label>
          <input type="number" class="form-control" name="high" id="field_high" data-cy="high" formControlName="high" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="bitinfodashApp.oHLCVT12h.low" for="field_low">Low</label>
          <input type="number" class="form-control" name="low" id="field_low" data-cy="low" formControlName="low" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="bitinfodashApp.oHLCVT12h.close" for="field_close">Close</label>
          <input type="number" class="form-control" name="close" id="field_close" data-cy="close" formControlName="close" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="bitinfodashApp.oHLCVT12h.volume" for="field_volume">Volume</label>
          <input type="number" class="form-control" name="volume" id="field_volume" data-cy="volume" formControlName="volume" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="bitinfodashApp.oHLCVT12h.trades" for="field_trades">Trades</label>
          <input type="number" class="form-control" name="trades" id="field_trades" data-cy="trades" formControlName="trades" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
